.excard {
    text-align: center;
    background-color: white;
}

.exinf{
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    font-size: 1.2vw;
    margin-top: 15px;
    
}

.excard:hover { 
    background-color: whitesmoke;
    cursor: pointer;
}
  
  .tsex {
    font-weight: bold;
  }

  .tdex {
      font-weight: bold;
  }

  .extit {
      font-size: 2.5vw;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  
  .exdt {
    font-size: 2vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
