.csbtns{
    margin: 1%;
}

.card-exp {
    background-color:white;
}

.input-section {
    padding: 20px;
}

.react-datepicker__input-container {
    width: inherit;
}

.react-datepicker-wrapper {
    width: 100%;
}