.excard {
    text-align: center;
    background-color: whitesmoke;
}

.exinf{
    text-align: left;
}

.excard:hover { 
    background-color: lightgray;
    cursor: pointer;
}
  
  .tsex {
    font-weight: bold;
  }

  .tdex {
      font-weight: bold;
  }