.ExpenseInput {
    background-color: whitesmoke;
}

.sfbtn {
    background-color: whitesmoke;
}

.sfbtn:hover {
    background-color: lightgray;
}

#bottom-input-row {
    padding-top: 15px;
}

.open-closed-toggle {
    padding: 0;
}