.sidenav {
    height: 100vh;
    width: 300px;
    padding: 15px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #555555;
    overflow: hidden;
    position: fixed;
}

@media (max-width: 768px) {
    .sidenav {
        width: 100%;
    }

    .card img {
        display: none;
    }

    .btn-group {
        width: 100%;
    }

    .btn-group .btn {
        width: 50%;
    }

    .card-body {
        padding: 10px!important;
        text-align: center;
    }
}
