.sidenav {
    height: 100vh;
    width: 300px;
    padding: 15px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #555555;
    overflow: hidden;
    position: fixed;
}

@media only screen and (max-width: 768px) {
    .sidenav {
      width: 100%;
    }
  }

