.newExpenseBtn {
    width: 100%;
}

.additionSymbol {
    font-weight: bold;
}

.removePadding {
    margin: 0px;
    padding: 0px;
}

#expense-input {
    background-color: whitesmoke;
}

.expense-input {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: whitesmoke;
}

.center-col-items {
    align-items: center;
    text-align: center;
}